 <% [:info, :error].each do |key| %>
   <% if flash[key] %>
   <div class="<%= key %>" id="flash">
     <%= flash[key] %>
   </div>
   <% end %>
 <% end %>

<h1>New movie</h1>

<%= render 'form' %>

<%= link_to 'Back', movies_path %>
