<div class="peer_score_container">
	<h4>My peer fit scores (higher is closer):</h4>
	<% @peer_scores.each do |peer, score| %>
		<%= peer.email %> (<%= score %>)
	<% end %>

	<div class="sort_by">
		<%= form_tag home_path, :method => 'get' do %>
			<span>Sort By:</span>
			<%= select_tag :order_by, options_for_select(["title", "predicted rating", "average rating"]), :id => "order_reviews" %>
		<% end %>
	</div>
</div>
